@font-face {
    font-family: Felix;
    src:url("assets/FelixTitling.ttf");
}
body {
    background-color: #EEE5BD;
    margin: 0px;
}
   
    .active {
        background-color: #311710;
    }
    
    .header {
        background-color: #945024;
        position: fixed;
        width: 100%;
        z-index: 3;
        
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        background-color: #945024;
    }

    .header li a {
        
        display: block;
        overflow: hidden;
        color: #EEE5BD;
        text-align: center;
        margin: 0;
        padding: 10px 10px;
        font-family: 'Felix';
        font-size: medium;
        text-decoration: none;
    }

    .header li a:hover {
        background-color: #311710;
    }


    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    .header .menu-icon {
        cursor:pointer;
        padding:28px 20px;
        position:relative;
        float: right;
        user-select:none;
    }

    .header .menu-icon .navicon {
        background:#fff;
        display:block;
        height:2px;
        position:relative;
        transition:background .2s ease-out;
        width:18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after { /** Icon checkbox settings for the lines  **/
        background:#fff;
        content:'';
        display:inline-block;
        height:100%;
        position:absolute;
        width:100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }
    .header .menu-btn {
        display:none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height:650px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background:transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform:rotate(-90deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform:rotate(90deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top:0;
    }

    @media screen and (max-width: 1105px) {
        .header li.right,
        .header li {
        display: flex;
        flex-direction: column;
        }
        
        .dropdown {
            float: none;
        }
        .dropdown-content {
            left: 40%;
        }
    }

    @media screen and (min-width: 1106px) {
        .header li {
            
            display: inline; 
            Float: left;
        }
        .header li a {
            padding: 10px 15px;
        }
        
        .dropdown {
    float: left;
    overflow: hidden;
  }
        
        .header .menu {
            display:block;
            clear:none;
            float:none;
            max-height:none;
        }
        .header .menu-icon {
            display:none;
        }
    }




.dropdown .dropbtn {
    font-size: medium;
    background-color:  #945024;
    border: none;
    outline: none;
    color:  #EEE5BD;
    text-align: center;
    margin: 10px 15px;
    padding: 0px 10px;
    font-family: Felix;
    text-decoration: none; 
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #945024;
    color: #EEE5BD;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }


.dropdown-content a {
    float: none;
    color: #EEE5BD;
    padding: 12px 16px;
    font-family: Felix;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #311710;
  }

  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  